# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Click-Once directory
publish/

# Visual Studio
.vs/
Generated\ Files/
tools/ProcessAnalyser/Properties/
*.coverage
*.coveragexml

# Visual Studio Code
.vscode/

# Python
__pycache__/
*.pyc
tasks.py

# Custom
Microsoft.Exchange.SystemWebAdapters.dll
tasks.py
